<div class="card card-container">
  <div class="card-body">
    <h5 class="card-title">Create New Customer</h5>
    <form [formGroup]="newCustomerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.first_name.errors }" />
        <div *ngIf="submitted && !!f.first_name.errors" class="invalid-feedback">
          <div *ngIf="!!f.first_name.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.last_name.errors }" />
        <div *ngIf="submitted && !!f.last_name.errors" class="invalid-feedback">
          <div *ngIf="!!f.last_name.errors.required">Last Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" pattern="[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,64}" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.email.errors }" />
        <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
          <div *ngIf="!!f.email.errors.required">Email is required</div>
          <div *ngIf="!!f.email.errors.pattern">Email is invalid</div>
        </div>
      </div>
      <div class="form-group">
        <label for="DOB">Date of birth</label>
        <input type="date" formControlName="date_of_birth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date_of_birth.errors }" />
        <div *ngIf="submitted && !!f.date_of_birth.errors" class="invalid-feedback">
          <div *ngIf="!!f.date_of_birth.errors.required">Date Of birth is required</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Create</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>
</div>
