@import '../../../styles-variables';
.signup-container {
  width: 18rem;
  margin: 0 auto;
}

.big-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}